<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OrderDialog"></activity>
        <activity android:name=".PickerDialogTest" />
        <activity android:name=".TimePickerTest" />
        <activity android:name=".DatePickerTest" />
        <activity android:name=".ClockTest" />
        <activity android:name=".RatingBarTest" />
        <activity android:name=".SeekBarTest" />
        <activity android:name=".ProgressBarTest" />
        <activity android:name=".Popup" />
        <activity android:name=".SelectDialog" />
        <activity android:name=".MultiSelectDialog" />
        <activity android:name=".SingleSelectDialog" />
        <activity android:name=".OkCancel" />
        <activity android:name=".ActionModeTest" />
        <activity android:name=".ContextMenuTest" />
        <activity android:name=".ActionProviderTest" />
        <activity android:name=".ActionSwitch" />
        <activity android:name=".ActionView" />
        <activity android:name=".ChangeMenu" />
        <activity android:name=".MenuCheck" />
        <activity android:name=".ListIconText" />
        <activity android:name=".NoActionBar" />
        <activity android:name=".SpinnerTest" />
        <activity android:name=".ListViewTest" />
        <activity android:name=".MoveCircle" />
        <activity android:name=".SetParameter" />
        <activity android:name=".LayoutParameter" />
        <activity android:name=".MultiPage" />
        <activity android:name=".OptionMenu" />
        <activity android:name=".FocusTest" />
        <activity android:name=".LongClick" />
        <activity android:name=".Fruit" />
        <activity android:name=".EditTextTest" />
        <activity android:name=".ImageViewTest" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RadioCheck" />
        <activity android:name=".HandleEvent" />
        <activity android:name=".Inflation" />
        <activity android:name=".FreeLine" />
        <activity android:name=".ListAddDel" />
        <activity android:name=".GridViewTest" />
        <activity android:name=".ShowHideActionBar" />
        <activity android:name=".PopupMenuTest" />
        <activity android:name=".AutoComplete" />
        <activity android:name=".ScrollViewTest" />
        <activity android:name=".WebViewTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>